<p>
  <b>Album Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Album Short name:</b>
  <%=h @album.short_name %>
</p>
   <table>

<% @album.images.each do |image| %>
       <tr>
               <td><div><b>Image Title: </b><%=h image.title %></div><div><b>Image Short name: </b><%=h image.short_name %></div>
               <div><%= link_to 'Edit', edit_album_image_path(@album,image) %> | <%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></div>

               </td>
<% if image.photo.exists?  %>

               <td><%= image_tag image.photo.url(:small) %></td>
<td><%= image_tag image.photo.url(:medium) %></td>
<% else %>
<p> There are no photo's attached, upload one. </p>


<% end %>
   </tr>
   <% end  %>
         </table>
<%= link_to "upload images", new_album_image_path(@album)  %>
<%#= link_to 'Edit', edit_album_path(@album) %> 
<%= link_to 'Back', albums_path %>