<h1>Listing images</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Short name</th>
    <th>Album</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%=h image.title %></td>
    <td><%=h image.short_name %></td>
    <td><%=h image.album_id %></td>
    <td><%= link_to 'Show', album_image_path(@album,image) %></td>
    <td><%= link_to 'Edit', edit_album_image_path(@album,image) %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_image_path %>